@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

*{
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

li{
  list-style-type: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #000000; /* ここを変更 */
  color: #333;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.topImage{
  margin-top: 60px;
  width: 100%;
  height: 800px;
  background-image: url('../assets/image1.jpg');
  background-size: 100% 100%;
}

.topPage, .topContaier .page-link{
  margin: 0;
  padding: 0;
  color: #ddd;
  position: absolute;
  left: 0;
  right: 0;
}

h1.topPage{
  top: 30%;
  font-size: 8rem;
  letter-spacing: 28px;
  color: #fff;
  font-weight: bold;
}

p.topPage{
  top: 45%;
  color: #fff;
}

header, footer{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
}

header{
  top: 0;
}

header .navbar.navbar-default{
  margin: 0;
  background-color: SaddleBrown;
  border: none;
}

header .navbar-header{
  margin-top: 10px;
}

header .navbar-header a.navbar-brand{
  float: left;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 15px;
  color: #ddd;
  display: inline-block;
}

header .collapse.navbar-collapse{
  float: right;
}

header .collapse.navbar-collapse ul li a{
  color: #ddd;
  padding: 30px 5px 30px 30px;
}

header .collapse.navbar-collapse ul li a i{
  margin-right: 5px;
  display: inline-block;
  color: #ddd;
}

.flash_msg{
  margin: 0 auto;
  text-align: center;
  color: red;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.layerImage{
  width: 100%;
  min-height: 715px;
  background-image: url('../assets/image8.jpg');
  background-size: 100% auto;
}

.layerTransparent{
  width: 100%;
  min-height: 715px;
  background-color:		rgba(255,255,255,0.5);
}

.topContaier{

  text-align: center;
}

footer{
  background-color: SaddleBrown;
  padding: 20px 0 10px;
  color: #ddd;
  font-size: 1.5rem;
  bottom: 0;
}
